{%load static%}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="{%  static 'css/bootstrap.min.css'%}" rel="stylesheet">
    <link href="{%  static 'css/without_nav.css'%} ?v=1.0" rel="stylesheet ">
    <style>
  body::before {
    content: "";
    position: fixed;
    /* ... سایر استایل‌ها ... */
    background: url("{% static 'images/bg-shape.svg' %}") center/cover no-repeat;
  }
    </style>

</head>
<body>

    <div class="container-fluid mt-5 pt-5">
    {% if massage %}
        {% for message in messages %}

            <div class="alert alert-{massage.tags}">
                {{message}}
            </div>
        {% endfor %}
    {% endif %}
    <div class="container-fluid d-flex justify-content-center align-content-center">

        <img class=" " src= "#" alt="">
    </div>
            <div class="container card mt-5   border-black" style="width: 450px; height: 400px;">
                <div class="card-body mt-3">
                    <h4 class="card-title text-bg-dark text-center mb-4"> خوش امدید</h4>
                    <form action="{%url 'users:resive_phone'%}" class="form-control" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <div class="text-end">
                                <p class="text-right text-bold"> ورود | ثبت نام </p>
                                <p class="text-right text-bold"> سلام</p>
                                <p class="text-right text"> لطفا شماره موبایل یا ایمیل خود را وارد نمایید</p>
                            </div>
                           
                                <div class="col-12">
                                    <input type="text" class=" col-12  line_input" id="id_username"  name="phone_number" value="{{form.phone_number.value|default_if_none:''}}"  style="height: 50px;">
                                </div>
                                
                                
                                <div class=" mt-5  justify-content-between ">
                                    <button type="submit" class="btn btn-gold col-12" style="height: 45px;">ورود</button>
                                </div>
                                
                            
                                
                        </div>
                        
                        
                    </form>

                </div>
            </div>
       
</div>

    <script src="{%  static 'js/bootstrap.bundle.min.js'%}"></script>
</body>
</html>